# Keystore files
*.jks
*.keystore

*.env

# API Keys and Configuration files
# Add this line to ignore the api_keys.dart file within the config directory:
config/api_keys.dart
lib/config/api_keys.dart
lib/firebase_options.dart

# If you have other sensitive files in the config directory, you might ignore the whole directory:
# config/

# Firebase (if you use it and have google-services.json or GoogleService-Info.plist locally but not checked in)
# If you check these into a private repo, you might not need to ignore them.
# However, for public repos, definitely ignore them.
android/app/google-services.json
ios/Runner/GoogleService-Info.plist


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


